<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'core/home_style.css' %}">
</head>
    {% include 'core/header.html' %}

    <main>
        <div class="slider">
            <button class="slider-btn" id="prev-btn">&lt;</button>
            <img src="{% static 'core/lk1_resized.png' %}" alt="Restaurant Image" id="slider-image">
            <button class="slider-btn" id="next-btn">&gt;</button>
        </div>
        <a href="{% url 'reservation' %}"><button class="reserve-btn">Reserve Now</button></a>
    </main>
    <script>
        var imageUrls = [
            "{% static 'core/lk1.png' %}",
            "{% static 'core/lk2.png' %}",
            "{% static 'core/lk3.png' %}"
        ];
    </script>
    <script src="{% static 'core/slider.js' %}"></script>
</body>
</html>
